@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
html, body {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  max-width: 98%;
  margin-left: 1%; }

.background, .main__masVendido, .table-dark {
  background-color: rgba(0, 0, 0, 0.6);
  border: white solid thick;
  font-family: "Poppins";
  margin: 2%;
  padding: 10px;
  color: black;
  width: auto; }

.main__masVendido {
  display: flex; }

.table__producto {
  color: white;
  font-family: "Permanent Marker";
  font-size: 1.5rem; }
  .table__producto p {
    font-family: "Poppins";
    font-size: 1rem; }

.main__input {
  display: block;
  margin: 10px;
  width: 70%; }
  .main__input .main__input--btn {
    width: 10%; }

footer {
  width: 100%; }

.menu__desktop {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  font-family: "Poppins";
  position: fixed;
  width: 97%;
  top: 0;
  left: 1.5%;
  overflow: hidden;
  border: black solid thick;
  background: grey;
  z-index: 10; }
  .menu__desktop a:hover {
    color: white;
    background-color: black; }

h1 {
  font-size: 1.9rem;
  font-family: "Permanent Marker";
  padding: 2%; }

a {
  color: black;
  padding: 2% 0% 2% 3%;
  flex-grow: 1; }

legend, h1, h2, p, .white, nav {
  color: white; }

b, #yo {
  color: #bc002d;
  font-family: "Permanent Marker"; }

.menu__off {
  color: darkblue; }

main {
  padding-top: 8%; }
  main .main__ofertas {
    position: relative;
    right: 2%;
    margin-top: 1.4%; }
    main .main__ofertas .main__ofertas--especial {
      width: 100%;
      position: relative;
      left: 4%; }

.menu__mobile {
  display: none; }

fieldset p {
  display: inline; }

.table-dark {
  position: relative;
  right: 2%;
  color: white;
  width: 100%; }
  .table-dark th {
    width: 20%; }
    .table-dark th img {
      width: 100%; }

@media only screen and (max-width: 1024px) {
  .menu__desktop {
    display: none; }
  body {
    margin-top: 15%;
    margin-left: 2%;
    max-width: 98%; }
  .main__ofertas {
    display: none; }
  .main__masVendido {
    flex-direction: column; }
  h1 {
    padding-top: 4%;
    padding-left: 5%; }
  #dropdownMenuLink {
    width: 90%;
    height: 85%; }
  .dropdown-menu {
    background-color: black; }
  .menu__mobile {
    display: grid;
    grid-template-columns: 80% 20%;
    position: fixed;
    top: 0;
    overflow: visible;
    background-color: #333;
    font-family: "Permanent Marker";
    z-index: 10;
    width: 94%;
    height: 10%; }
    .menu__mobile a {
      font-size: 1.6rem;
      color: white;
      position: relative;
      float: left;
      font-family: "Poppins"; }
  .main__input {
    width: 90%; }
  td p {
    display: none; }
  input {
    display: block; }
  .table-dark {
    position: relative;
    right: 10%;
    width: 98%; } }
