$font-stack: 'Poppins';
$background-color: rgba(0,0,0,0.6);
$flag-color: rgb(188,0,45);
$special-font: 'Permanent Marker';
$border: white solid thick;
$no-color:rgba(0,0,0,0);
$base-color: white;
$full-width: 100%;